* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face 
{ 
    font-family: gaps; src: url("./fonts/gaps.otf"); 
} 

body 
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Navigation Bar Component Styling: Start */
nav
{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 0 1em;
    background: #051923;
}

nav a, p, h4
{
    text-shadow: 0px 0px 10px #FE2280;
    font-family: "gaps", sans-serif;
    color: white;
}

nav h4
{
    color: white;
    padding-left: 1em;
}

#navlinks
{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

nav a
{
    text-decoration: none;
}

nav a:hover
{
    color: #FE2280;
}

#navlinks p
{
    padding: 0 1em;
}

#logo
{
    display: flex;
    align-items: center;
    height: 70%;
}

#logo img
{
    width: 100%;
    height: 100%;   
}

@media only screen and (max-width: 510px)
{
    nav h4
    {
        display: none;
    }

    #navlinks
    {
        padding: 0;
        justify-content: center;
    }
}

@media only screen and (max-width: 430px)
{
    #logo
    {
        display: none;
    }
}

@media only screen and (max-width: 400px)
{
    nav
    {
        padding: 0;
    }
    
    #navlinks p
    {
        padding: 0;
    }
}
/* Navigation Bar Component Styling: End */

/* Home Page Header Styling: Start */
header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: start;
    width: 100%;
    height: 40vh;
    padding-top: 2em;
    background: #d583c5;
    background-image: linear-gradient(#051923 20%, #FE2280);
    font-family: "gaps", sans-serif;
    font-style: normal;
    font-variation-settings: "HORZ" 0, "LIFT" 100, "THRU" 50, "VERT" 0;
    color: white;
}

header h1, #leftside
{
        margin-left: 10%;
}

header h1
{
    font-family: "gaps", sans-serif;
    text-shadow: 0px 0px 10px #FE2280;
    font-weight: 1000;
    font-style: normal;
    color: #ffffff;
    height: 0.1em;
    font-size: 4em;
    width: 60%;
}

#subheading
{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

header h2
{
    padding-right: 1em;
    text-shadow: 0px 0px 10px #1e0349;
}
@media only screen and (max-height: 480px)
{
    #subheading
    {
        display: none;
    }
}

@media only screen and (max-width: 850px)
{
    header h1, #leftside
    {
        margin-left: 0;
    }

    header h1
    {
        height: 0.1em;
        font-size: 4em;
        width: 100%;
    }

    header
    {
        text-align: center;
    }

    #subheading
    {
        justify-content: center;
    }
}

@media only screen and (max-width: 530px)
{
    header h1
    {
        height: 0.1em;
        font-size: 3em;
        width: 100%;
    }
    
    #subheading
    {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 530px)
{  
    header
    {
        height: 30vh;
    }

    #subheading
    {
        display: none;
    }
}

@media only screen and (max-width: 400px)
{  
    header
    {
        align-items: flex-start;
    }
}
/* Home Page Header Styling: End */

/* Main: Home Page Styling: Start */
main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #006494;
    background-image: url("./images/headerbg.jpg");
    background-position: 0 45vh;
    background-size: 100% 100%;
}

main figure
{
    border: 0.5mm outset #FE2280;
    margin: 2%;
    width: 45%;
    height: 60%;
}

main img
{
    width: 100%;
    height: 100%;
}

main p
{
    flex: 1;
}

@media only screen and (max-width: 550px)
{
    main
    {
        height: 100vh;
    }
    main figure
    {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 800px)
{
    main
    {
        height: 100vh;
    }
    main figure
    {
        width: 100%;
        height: auto;
    }
}
/* Main: Home Page Styling: End */

/* Footer Component Styling: Start */
footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    padding: 0 1em;
    background: #051923;
}

footer a, p
{
    text-shadow: 0px 0px 10px #FE2280;
    text-decoration: none;
    font-family: "gaps", sans-serif;
    color: white;
}

footer a:hover
{
    color: #FE2280;
}

footer p
{
    padding-left: 37%;
}

#footertext
{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

#socialbar
{
    display: flex;
    align-items: center;
    height: 50%;
}

#socialbar img
{
    padding-right: 1em;
    width: 100%;
    height: 100%; 
}

#socialbar img:hover
{
    filter: blur(2px);
    background: #FE2280;;
}

@media only screen and (max-width: 510px)
{
    footer p
    {
        padding: 0;
    }
}

@media only screen and (max-width: 410px)
{
    footer p
    {
        display: none;
    }
}
/* Footer Component Styling: End */